/* 신상품 */
.recent {
    width: 100%;
}

.recent-title {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}

.recent-main {
    display: flex;
    margin: 0px auto 40px;
}

.recent-list {
    display: flex;
    gap: 10px;
}

.recent-list li {
    width: calc(100% / 5);
    height: auto;
    transition: all 0.5s;
}

.img-top {
    position: relative;
    height: auto;
    width: 100%;
}

.img-top > .order {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    padding: 3px 9px;
    background: rgb(242, 130, 19);
    border-radius: 4px;
}

.img-top > img {
    width: 100%;
    border-radius: 5px;
}

.img-top > .recent_heart {
    position: absolute;
    height: 32px;
    width: 32px;
    bottom: 10px;
    right: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.img-top > .recent_heart:hover {
    transform: scale(1.2);
}

.brand-info {
    width: 100%;
    margin-top: 9px;
}

.icon-text {
    display: block;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-text > span {
    color: rgb(242, 130, 19);
}

.brand-info-img > img {
    width: 20px;
    height: 20px;
}

.brand-info-img > .icon-title {
    margin-left: 5px;
    font-size: 12px;
    color: #aaaaaa;
}

.release {
    display: block;
    color: #707084;
    font-size: 12px;
    margin-bottom: 5px;
}
.chart-h {
    color: #4e69f6;
    background: #dddbed;
    font-size: 12px;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    border-radius: 4px;
}
.chart-s {
    color: #dc3a6d;
    background: #fadde6;
    font-size: 12px;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    border-radius: 4px;
    margin: 5px;
}

.won {
    font-size: 15px;
}

.won-info {
    margin-top: 7px;
}
.price {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.percent {
    font-size: 18px;
    color: #6727ba;
    margin: 5px;
    font-weight: 600;
}

.buynow {
    color: #999999;
    font-size: 12px;
}

@media screen and (max-width: 1080px) {
    .recent-list > li:last-child {
        display: none;
    }
    .recent-list li {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 720px) {
    .recent-list > li:last-child {
        display: block;
    }
    .recent-list li {
        width: 100%;
    }
    .img-top > img {
        width: auto;
    }
    .recent-list {
        overflow: auto;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
