/* 바로가기 */
.shortcut {
    display: block;
    margin-top: 50px;
}

.shortcut-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 9px;
}

.shortcut-main a {
    /* width: calc(100% / 8); */
    display: inline-block;
    font-size: 13px;
    text-align: center;
}

.shortcut-main img {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 15px;
    border-radius: 20px;
    margin-bottom: 7px;

    transition: all 0.5s;
}
.shortcut-main span {
    display: block;
}

@media screen and (max-width: 1080px) {
    .shortcut-main img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 720px) {
    .shortcut-main {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .shortcut-main a {
        width: 25%;
    }
}

/* //바로가기 */
