/* 바로가기 */
.shortcut {
    display: block;
    margin-top: 50px;
}

.shortcut-main {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
}

.shortcut-main a {
    display: inline-block;
    font-size: 13px;
    text-align: center;
}

.shortcut-main img {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 15px;
    border-radius: 20px;
    margin-bottom: 7px;
}
@media screen and (max-width: 720px) {
    .shortcut-main {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0px 0px 40px;
    }
}

/* //바로가기 */
