@charset "utf-8";
@import url("font.css");
@import url("artist.css");
@import url("banner.css");
@import url("footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
  background: #fafafa;
}
body {
  font-family: "Pretendard", sans-serif;
  color: #000;
  line-height: 1.4;
  word-break: keep-all;
}
/* 공용클래스 */
.inner {
  max-width: 1360px;
  margin: 0 auto;
}
.pd-40 {
  padding: 0 40px;
}
.clearfix::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  clear: both;
}

/* 바로가기 */
.shortcut {
  display: block;
  margin-top: 50px;
}

.shortcut-main {
  display: flex;
  justify-content: space-between;
}

.shortcut-main a {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}

.shortcut-main img {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 10px;
}
/* //바로가기 */

/* 신상품 */
.recent {
  width: 100%;
}

.recent-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recent > .inner {
  margin: 0 auto;
  max-width: 1360px;
  height: 700px;
}

.recent .recent-main {
  width: 100%;
}
.recent-main > .recent-title {
  height: 30px;
}

.recent-main > .recent-list {
  width: 100%;
  height: 500px;
}

.recent-list li {
  width: 256px;
  height: auto;
  float: left;
  padding: 0 10px;
}

/* .recent-list > li > a {
  display: block;
  width: 100%;
  height: 100%;
} */

.img-top {
  position: relative;
  height: 236px;
  width: 100px;
}

.img-top > img {
  height: 100%;
}

.img-top > .order {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  padding: 3px 9px;
  background: rgb(242, 130, 19);
  border-radius: 4px;
}

.recent-main {
  display: block;
}

.brand-info {
  width: 100%;
  height: 25px;
  margin-top: 9px;
}

.icon-text {
  display: block;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-text > span {
  color: rgb(242, 130, 19);
}

.brand-info-img > img {
  width: 20px;
  height: 20px;
}

.brand-info-img > .icon-title {
  margin-left: 5px;
  font-size: 12px;
  color: #aaaaaa;
}

.release {
  display: block;
  color: #707084;
  font-size: 12px;
  margin-bottom: 5px;
}
.chart-h {
  color: #4e69f6;
  background: #dddbed;
  font-size: 12px;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  border-radius: 4px;
}
.chart-s {
  color: #dc3a6d;
  background: #fadde6;
  font-size: 12px;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  border-radius: 4px;
  margin: 5px;
}

.won-info {
  margin-top: 7px;
}

.won {
  font-size: 15px;
}
.price {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

.price-bt {
  color: #999999;
  font-size: 12px;
}

.percent {
  font-size: 18px;
  color: #6727ba;
  margin: 5px;
  font-weight: 600;
}

/* //신상품 */

/* 아티스트 */
.artist-top {
  display: block;
  text-align: center;
  font-size: 0;
}
.artist-top svg {
  display: inline-block;
}
.artist-top span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}
