.unboxing .inner {
    padding: 0 50px;
}
.unboxing-mid {
}
.unboxing-album {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.unboxing-link {
    width: calc(100% / 3);
    height: 440px;
    background: pink;
}
